
body {
    width: 900px;
    margin: 0 auto;
}

body div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
}

a.link{
    text-decoration: none;
    color:blue;
}

a.link:hover{
    text-decoration: underline;
    color:blue;
}

.header {
    text-align: center;
    float: left;
    width: 550px; 

}

.header img{
    width: 400px;
}

.header a{
    text-decoration: none;
    font-size:46px; 
}
.login_left {
    float: left;
    width: 160px;
    color:green;
    font-weight: bold;
}

.login_right {
    text-align: right;
    float: left;
    width: 160px;
}

.content{
    clear:both;
}


tr.select{
    background-color: #DFD;
}


.admin_message{
    clear:both;
    background-color: darksalmon;
}

.wrapper, .disciplines_wrapper, .competitions_wrapper, .competitors_wrapper, .competition_header_wrapper,.actions_wrapper{
   text-align: center; 
   padding: 0px;
   clear:both;
}

.disciplines_block{
    display: inline-block;
    padding: 0px 0px 0px 0px;
    border: 1px solid #484;
}


.disciplines_block>div{
    float: left;
    width: 73px;
    
}

.discipline_block{
    border: 2px solid white;
}

.discipline_this{
    border: 2px solid white;
    border-bottom: 2px solid #484;
    color: #484
}

.discipline_select{
    border: 2px dotted #484;
    color: #484;  

}

.discipline_image{
    padding: 0;
    text-align: center; 
    margin: 0 auto;
}

.discipline_image>img{
    width: 50px;
    height: 50px;
}

.discipline_image_small{
    padding: 0;
    display: inline-block;
}

.discipline_image_small>img{
    width: 25px;
    height: 25px;
}

.discipline_code{
    padding: 10px 0 0 0;
    text-align: center; 
}

.title{
    padding: 10px 0 0 0;
    font-size: 40px;
    text-align: center;
    color:#484;
}

.sub_title{
    padding: 0px 0 0 0;
    font-size: 30px;
    text-align: center;
    color:#844;  
}

.competitions_block{
    padding: 10px 0px 10px 0px;
    display: inline-block;
    width: 800px;
}

.competitions_block_center{
    padding: 10px 0px 10px 0px;
    display: inline-block;
}

.competitions_block>div,
.competitions_block_center>div{
    float: left;
    width: 200px;
    height: 184px;
    padding: 6px;
}

.competition_block{
    background-color: #FFF;
    border: 1px solid #484; 
}

.competition_select{
    border: 3px dotted #484;
}

.competition_future_select{
    border: 3px dotted #ff6666;
}

div.competition_image{
    padding: 0;
    text-align: center; 
    margin: 0 auto;
}

span.competition_image img{
    width: 75px;
    max-height: 75px;
}

.competition_name{
    padding: 0;
    margin: 0;
    text-align: center; 
}

.competition_date, .competition_date_future{
    padding: 0;
    text-align: center; 
}

.competition_date_future{
    color: #ff6666;
    font-weight: bold;
}

.competition_disciplines{
    padding: 0;
    text-align: center;
}

.competitor_data_future{
    text-align: center;
}

.competitors_block{
    display: inline-block;
    padding: 0px;
    width: 800px;
}

.competitors_block>div{
    float: left;
    width: 200px;
    height: 30px;
    padding: 0px;
    text-align:left;
}

.competitor_block, .competitor_select, .competitor_this{
    padding: 0;
}

.competitor_block{
    background-color: #FFF;
}

.competitor_select span{
    color:blue;
    text-decoration: underline;
} 

.competitor_this{
    border: 1px solid blue;
}

.competitor_name{
    position: relative;
    top: -5px; 
    right:-2px;
}



thead{
    font-weight: bold;
    text-align: center;
}

thead td{
    padding-right:5px;
    padding-left:5px;
}

table.discipline_result ,table.competition_result ,table.competition_disciplines,table.competitions {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    margin-bottom:0px;
}

table.discipline_result>tbody td, table.competition_result>tbody td,table.competition_disciplines>tbody td,table.competitions>tbody td{
    border-bottom:1px solid #484;
    border-top:1px solid #484;
    border-left:1px dotted #484;
    border-right:1px dotted #484;
    padding-left: 5px;
    padding-right: 5px;
}

table.competition_disciplines{
    margin: 20px auto 0 auto;
}

table.competition_disciplines tr{
    height: 30px;
}
tr.competitor_select{
    background-color: #DFD; 
}

td.attempt{
    width: 70px;
    /*color:blue;*/
    text-align:right;
}

td.attempt_header_num{
    text-align:center;
}

td.attempt_result{
    text-align:right;
    width: 70px;
    color: #ff6666;
    font-weight: bold;
}

.PB{
    color:red;
    font-weight: bold;
}

.result_competition a.link, .result_competition_select{
    color:#484;
    font-size:12px;
}

.result_name{
    color:blue;
}

.result_name_select, .result_competition_select{
   color:blue;
   text-decoration: underline;
}

.result_sort_select{
    font-size: 18px;
    color:#000;
}

div.result_many_rows, .result_many_rows_select{
    float: left;
    padding: 0; 
    width: 185px;
}

div.result_many_rows_select{
   text-decoration: underline;
}

td.result_many_rows{
    width: 185px;
}

td.result_many_rows_select{
   color:#00F;
   text-decoration: underline;
}

.competition_header{
    padding: 0 0 10px 0;  
    display: inline-block;
}

.competition_header_image{
    float: left;
    padding: 0;     
}

.competition_header_image img{
    width: 100px;
}

.competition_header_name{
    font-size: 40px;
    float: left;
    padding: 0; 
}

.competition_header_details{
    float: left;
    padding: 10; 
}

.competition_header_2{
    font-size: 16px;
    padding: 0px;
}

.podium{
    background-color: #FDD;
}

.podium td:first-child{
    font-weight: bold;
}

td.competition{
    width: 150px; 
}

td.number{
     width: 25px; 
     text-align: right;
     margin-right:10px;
}



a.link_add{
    text-decoration: none;
    color:green;
}

a.link_add:hover{
    text-decoration: underline;
    color:green;
}

a.link_action{
    font-size:20px;
    margin:30px;
    color: purple;
}

.competitor_discipline{
    padding: 0px;  
    font-size:28px;
    position: relative;
    top: 15px; 
    text-align:left;
}

.competitor_discipline a{
    color: blue;
    text-decoration: none;
}
.competitor_discipline a:hover{
    text-decoration: underline;
}

.competitor_discipline img{
    width: 50px;
    padding-right: 30px;
    position: relative;
    top: 10px; 
}

.error{
    color:red;
}


img.config, img.config_select, img.config_enter{
    position: relative;
    top: 5px; 
    border: 2px dotted #FFF;
    width: 50px;
    height:50px;
}


img.config_enter{
     border: 2px solid red;
}

img.config_select{
    border: 2px dotted red;
}

.title_config{
    color:red;
}

form, p{
    padding: 0;
    margin: 0;
}

.form{
    display: inline-block;
    padding: 10px;
    margin: 10px;
    border: 1px solid #484;
}

.form div{
    padding: 5px 20px 5px 20px;
}

.form_field{
    float: left;
    clear:both;
}

.form_input{
    float:right;   
}

.form_change, .form_enter, .form_delete{
    clear:both;
}

.form_change input,
input.form_change,
button.form_change{
    background-color:lightblue;
}

.form_enter input,
input.form_enter{
    background-color:lightgreen;
}

.form_delete input,
input.form_delete{
    background-color:orange;
}


.archive{
    text-decoration: Line-through;
    filter: sepia(10);
}


.uploadButton {
    display: block;
    width: 120px;
    padding: 10px;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    font-family: Tahoma;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}



div.fileinputs {
	position: relative;
	width:100px;	
	overflow: hidden;
}

div.fakefile {
	position: absolute;
	top: -2px;
	left: 0px;
	z-index: 1;
}

input.file {
	position: relative;
	text-align: right;
	-moz-opacity:0 ;
	filter:alpha(opacity: 0);
	opacity: 0;
	z-index: 5;

}


.row_string{
    text-align:left;
}

.rules{
    color:purple;
}

.flag{
    padding: 0px;
}

.flag_selected img{
    background:  #DFD;
}

.coimpetition_flag{
    position: relative;
    top: 5px; 
    right: 5px; 
}

.competition_block_flag{
    position: relative;
    bottom: 20px; 
}

.competition_block_flag img{
    width: 40;
}

div.action, div.action_select{
    float: left;
    width: 100px;
    height: 110px;
    padding: 6px;
    border: solid 1px green;
}

div.actions{
   width: 720px; 
   display: inline-block;
}

div.action_select{
    border: dotted 1px green;
}
div.action_select a{ 
    color:green;
    text-decoration:underline;
}

div.action_select a:hover{
    color:orange;
}

.country{
    color:green;    
}

.fest{
    color: orange;
}

.small_input{
    width:50px;
}

.title_link{
    padding: 10px 0 0 0;
    font-size: 40px;
    text-align: center;
    color:#00F;
    text-decoration: underline;
}