
body{
    width:100%;
    padding:5px;
    font-size:24px;
}

select{
    font-size:20px;
}

td.podium, td.next_round{
    color:green;
}
table td{
    padding-left:8px;
    padding-right:8px;
    border-bottom: 1px solid gray;
    border-right: 1px dotted lightgray;
    white-space:nowrap;       
    font-size:20px;
}

table thead{
    font-weight: bold;
}

.popup {
    position: fixed;
    top: 20%;
    left: 50%;
    padding: 20px;
    width: 360px;
    margin-left: -200px;	
    background: #ddd;
    border: 1px solid orange;
    border-radius: 4px; 
    z-index: 99999;
    opacity: 1;	
}
.popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
}
a{
    text-decoration: none;
    color:blue;
}

a:hover{
    text-decoration: underline;
    color:light_blue;
}