.registration_event img{
    border: 1px solid white;   
}

.registration_event:hover{
    cursor: pointer;
    color:green;
}

.registration_event:hover  img{
    border: 1px solid green;
}

.next_round{
    color: darkgreen;
}

.podium{
    color: var(--red);
    font-weight: bold;
}

.record{
    color: rgb(0,100,0);
    font-weight:bold;
}

td.record{
    width: 70px;
    text-align:center;
}

.record:after {
    content: 'R';
}
.record:before {
    content: '\A0\A0';
}

span.checked{
    background:#FFFFFF;
    color:#000000;
    border:1px solid var(--light_green);
    border-radius: 5px;
}

.select{
    color: var(--red); 
}

.border_right{
    border-right: 1px solid var(--light_gray);
}

.exclude::before{
    content: '(';
}
.exclude::after{
    content: ')';
}