:root{
    --gray: #e9e9e9;
}

.table {
    width: 100%;
    border: none;
    padding: 0px;
    margin: 0px;
    border-bottom: 1px solid var(--gray);
}

.table .border_right{
    border-right: 1px solid var(--light_gray);
}
.table .border_left{
    border-left: 1px solid var(--light_gray);
}

.table tfoot td{
    font-weight: normal;
    text-align: left;
    border: none;
    padding: 10px 10px;
    white-space: nowrap;
}
.table tfoot tr.gray td{
    background: var(--gray);
}
.table thead tr th:first-child {
    border-radius: 10px 0 0 0px;
}
.table thead tr th:last-child {
    border-radius: 0px 10px 0px 0px;
}
.table tbody td {
    text-align: left;
    border: none;
    padding: 10px 10px;
    vertical-align: top;
}
.table tbody tr:nth-child(even){
    background: var(--gray);
}

.menu{
    font-size:1.5em;
    margin:16px 0 16px 0px;
    padding:8px 0 8px 0px;
    background: var(--gray);
    border-radius: 8px 8px 8px 8px;
}
.menu a, .menu span{
    padding:0px 16px 0px 16px;
}

.details_header{
    padding:0px 0px 16px 0px;
}
.details_footer{
    padding:16px 0px 0px 0px;
}
.details_footer span{
    padding-right:16px;
}

.separator:before{
    content:"|";
}

ul{
    padding-left:16px;
}

.table .attempt{
    text-align: center;
}

.table .solves{
    word-spacing: 0.5em;
}

.table .center {
    text-align: center;
}

.table .td_podium{
    background-color: darkgreen;
    color: white;
    border:1px solid var(--gray) ;
}

.table .td_record{
    color: red;
}


.table .td_next_round{
    background-color: lightgreen;
    border:1px solid var(--gray) ;
}

.navigator_event{
    width:1px;
    vertical-align:top;
    padding:5px;
    font-size:24px;
    border-right: 3px solid var(--gray);
}

hr{
    border:0px;
    border-top: 3px solid var(--gray);
}

table.thead_stable thead.fixed {
    position:fixed;
    top:0;
}

table.table thead th{
    font-weight: normal;
    text-align: left;
    border: none;
    padding: 10px 10px;
    background: var(--gray);
    white-space: nowrap;
    border-bottom: 3px solid white;
}

.event_image{
    font-size:24px;
}

.personal_best{
    color:#fc4a0a;
}

table.table tbody tr.odd{
    background-color:#e9e9e9;
}

table.table tbody tr.even{
    background-color:var(--white);
}